<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <div class="contact-container">
        <h2 class="text-uppercase">{{ .Site.Data.contact.contactInfo.title | markdownify }}</h2>
        <p class="text-uppercase"><b>Phone: </b>{{ .Site.Data.contact.contactInfo.phone | markdownify }}</p>
        <p class="text-uppercase"><b>Hours: </b>{{ .Site.Data.contact.contactInfo.hours | markdownify }}</p>
        <p class="text-uppercase">{{ .Site.Data.contact.contactInfo.address | markdownify }}</p>
        <div>
          {{ partial "map.html"}}
        </div>
      </div>
    </div>
  </div>
</div>
</section>