<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{ with .Site.Data.contact }}
        <ul class="social-icons">
          {{ range .social }}  
            <li>
              <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
        <p>Copyright &copy; Design &amp; Developed by Mighty Pebble. All rights reserved.</p>
      </div>
    </div>
  </div>
  <script src="{{ .Site.BaseURL }}js/panelslider.js"></script>
  <script type="text/javascript" src="{{ .Site.BaseURL }}lib/slick/slick.min.js"></script>
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/gallery.js"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</footer>
