<!-- Service Start -->
<section id="service">
  <div class="container">
    
    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Data.menu.title }}</h2>
        {{ with .Site.Data.menu.subtitle}}
          <div class="col-sm-12 col-md-offset-1 col-md-9">
            <p>{{ . }}</p>
          </div>
        {{ end }}
      </div>
    </div>

    <!-- Content -->
    {{ range .Site.Data.menu.sections }}
      <div class="menu-section">
        <div class="row">
          <h3>{{ .name }}</h3>
          {{ with .description }}
          <div class="col-sm-12 col-md-offset-1 col-md-9">
            <p>{{ . }}</p>
          </div>
          {{ end }}
          {{ range $index, $item := .items }}

            {{ if mod $index 2 | eq 0 }}
              <div class="clearfix visible-sm-block"></div>
            {{ end }}
            {{ if mod $index 4 | eq 0 }}
              <div class="clearfix visible-md-block"></div>
            {{ end }} 

            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <h4>{{ $item.name }}</h4>
                <p>{{ $item.description }}</p>
                <div class="menu-pricing">
                  {{ range $index, $element := $item.prices }}
                    <b>{{ if gt $index 0 }} | {{end}}{{ $element }}</b>
                  {{ end }}<br/>
                  {{ range $index, $element := $item.upgrades }}
                    <b>{{ if gt $index 0 }} | {{end}}{{ . }} </b>
                  {{ end }}
                </div>
              </div>
            </div>


          {{ end }}
        </div>
        {{ range $index, $element := .prices }}
          <b>{{ if gt $index 0 }} | {{end}}{{ $element }}</b>
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>
<div class="divider"><hr /></div>