<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .Site.Params.wrapper.title }}</h2>
            <p>{{ with .Site.Params.wrapper.italic  }}{{ . | safeHTML }}{{ end }}
            </p>
          </div>
          <p>{{ with .Site.Params.wrapper.paragraph }}{{ . | safeHTML }}{{ end }}</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <div class="about-img">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fsouwestbargrill%2Fvideos%2F1627608907361831%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          </div>
        </div>
      </div><!-- .col-md-5 close -->
    </div>
    
  </div>
</section>
<div class="divider"><hr /></div>